* {
    margin: 0;
    padding: 0;
}

body {
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Montserrat", sans-serif;
}
header{
    width: 100%;
}
.postnav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    z-index: 1000;
}

nav {
    padding: 15px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ccc;
    font-family: "Playwrite AU VIC", sans-serif;
}

.logo {
    color: rgb(168, 36, 185);
    float: right;
    text-decoration: none;
    font-size: 2em;
}

#bar {
    list-style-type: none;
    display: flex;
    align-items: center;
    /* Alinea verticalmente los items */
    gap: 15px;
    /* Espacio entre los items */
}

#bar li {
    margin: 0 10px;
}

.logo:hover {
    color: rgb(156, 54, 54);
}

.item {
    transition: color 0.3s;
    padding: 23px 10px;
    color: #666;
    text-decoration: none;
    font-size: 1.5rem;
}

#bar li a:hover {
    color: #000;
}

#bar li a:active {
    background-color: #8b8a8a;
    width: 100%;
}

.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: #000;
    height: 3px;
    width: 28px;
    margin: 5px auto;
    border-radius: 10px;
}

.tazas{
    margin: 20px 10px 0 10px;
}

.tazas .imagen img{
    margin: 20px 6px 0 0;
    width: 150px;
    height: 200px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
}


/* Mobiles */


@media only screen and (max-width : 800px) {
    .logo {
        padding: 0 0 0 25px;
    }

    .ham {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
    }

    #bar {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
        margin: 0;
        padding: 10px 0 0 0;
        width: 100%;
        display: none;
    }

    /* Cambios en JavaScript */
    #bar.activado {
        display: flex;
    }

    #bar li {
        padding: 0 100px;
        width: 100%;
        text-align: center;
    }

    .br-1.animado {
        rotate: 50deg;
        translate: -10px 8px;
    }

    .br-2.animado {
        visibility: hidden;
    }

    .br-3.animado {
        rotate: -50deg;
        translate: -10px -8px;
    }

}